:root {
  --body-bg-color: rgb(72, 66, 102);
  --text-color: rgb(72, 66, 102);
  --bg-cards: #c4c8d8;
  --bg-techs: rgb(196, 86, 211);
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

body {
  background-color: var(--body-bg-color);
  margin: 0% 0%;
  color: var(--text-color);
}

.main {
  position: relative;
  width: 1440px;
  height: 1767px;
  display: grid;
  box-sizing: border-box;
  column-gap: 0%;
  row-gap: 0%;
  grid-template-columns: 0% 0% 0% 0% 0% 0% 0% 0% 0% 0% 0% 0%;
  grid-template-rows: 0% 0% 0% 0% 0% 0%;
  grid-template-areas:
    "profile myprojects myprojects"
    "profile postGH-1 postGH-2"
    "contacts recentPost recentPost"
    "contacts post post"
    "tec . ."
    "exp . ."
    "edu . .";
}

.profile {
  background-color: var(--bg-cards);
  grid-area: profile;
  width: 348px;
  height: 292px;
  min-width: 195px;
  min-height: 209px;
  left: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
}

.profile img {
  width: 128px;
  height: 128px;
  left: 110px;
  top: 32px;
  border-radius: 50%;
  border: solid 4px rgb(72, 66, 102);
  position: absolute;
}

.profile h2 {
  margin-top: 150px;
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
}

.profile p {
  margin: 1px;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.myprojects {
  background-color: var(--bg-cards);
  grid-area: myprojects;
  position: absolute;
  width: 952px;
  height: 86px;
  left: 448px;
  top: 40px;
  border-radius: 10px;
}

.myprojects h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  padding-left: 30px;
}

.contatos {
  background-color: var(--bg-cards);
  grid-area: contacts;
  position: absolute;
  width: 348px;
  height: 348px;
  left: 40px;
  top: 362px;
  border-radius: 10px;
}
.ico1 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 30px;
}
.p1 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 22px;
  font-size: 13px;
  line-height: 16px;
}

.ico2 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 74px;
}
.p2 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 69px;
  font-size: 13px;
  line-height: 16px;
}
.ico3 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 118px;
}

.p3 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 113px;
  font-size: 13px;
  line-height: 16px;
}

.ico4 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 162px;
}

.p4 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 150px;
  font-size: 13px;
  line-height: 16px;
}

.ico5 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 206px;
}

.p5 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 198px;
  font-size: 13px;
  line-height: 16px;
}

.ico6 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 250px;
}

.p6 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 238px;
  font-size: 13px;
  line-height: 16px;
}

.ico7 img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 40px;
  top: 294px;
}
.p7 p {
  position: absolute;
  font-family: "Merriweather Sans";
  font-weight: 400;
  left: 80px;
  top: 285px;
  font-size: 13px;
  line-height: 16px;
}
.post-1 {
  background-color: var(--bg-cards);
  grid-area: postGH-1;
  position: absolute;
  width: 461px;
  height: 186px;
  left: 448px;
  top: 157px;
  border-radius: 10px;
}
.post-1 h3 {
  position: absolute;
  width: 79px;
  height: 17px;
  left: 66px;
  top: 15px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.post-1 p {
  position: absolute;
  width: 421px;
  height: 19px;
  left: 30px;
  top: 60px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.ico8 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 30px;
}

.ico9 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  bottom: 30px;
}
.p9 p {
  position: absolute;
  width: 28px;
  height: 16px;
  left: 58px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.ico10 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 102px;
  bottom: 30px;
}
.p10 p {
  position: absolute;
  width: 28px;
  height: 16px;
  left: 135px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.p11 p {
  position: absolute;
  width: 69px;
  height: 16px;
  left: 362px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.post-2 {
  background-color: var(--bg-cards);
  grid-area: postGH-2;
  position: absolute;
  width: 461px;
  height: 186px;
  left: 939px;
  top: 157px;
  border-radius: 10px;
}
.post-2 h3 {
  position: absolute;
  width: 79px;
  height: 17px;
  left: 66px;
  top: 15px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.post-2 p {
  position: absolute;
  width: 421px;
  height: 19px;
  left: 30px;
  top: 60px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.ico12 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 30px;
}

.ico13 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 30px;
  bottom: 30px;
}
.p13 p {
  position: absolute;
  width: 28px;
  height: 16px;
  left: 58px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.ico14 img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 102px;
  bottom: 30px;
}
.p14 p {
  position: absolute;
  width: 28px;
  height: 16px;
  left: 135px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.p15 p {
  position: absolute;
  width: 69px;
  height: 16px;
  left: 362px;
  top: 125px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.recentPost {
  background-color: var(--bg-cards);
  grid-area: recentPost;
  border-radius: 10px;
  position: absolute;
  width: 952px;
  height: 86px;
  left: 448px;
  top: 373px;
}

.recentPost h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  padding-left: 30px;
}

.post {
  background-color: var(--bg-cards);
  grid-area: post;
  position: absolute;
  width: 952px;
  height: 201px;
  left: 448px;
  top: 489px;
  border-radius: 10px;
}
.post h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  padding-left: 200px;
}

.post p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  padding-left: 200px;
}

.post img {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 30px;
  top: 31px;
  border-radius: 50%;
  border: solid 4px rgb(72, 66, 102);
}

.tecnologias {
  background-color: var(--bg-cards);
  grid-area: tec;
  position: absolute;
  width: 348px;
  height: 208px;
  left: 40px;
  top: 740px;
  border-radius: 10px;
}

.tecnologias h3 {
  position: absolute;
  width: 121px;
  height: 26px;
  left: 23px;
  top: 20px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.tec1 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 30px;
  top: 76px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec2 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 30px;
  top: 115px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec3 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 30px;
  top: 154px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec4 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 131px;
  top: 76px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec5 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 131px;
  top: 115px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec6 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 131px;
  top: 154px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.tec7 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 232px;
  top: 76px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.tec8 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 232px;
  top: 115px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}
.tec9 {
  border: solid 2px rgb(72, 66, 102);
  background-color: var(--bg-techs);
  border-radius: 25px;
  position: absolute;
  width: 86px;
  height: 24px;
  left: 232px;
  top: 154px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
}

.experiencias {
  background-color: var(--bg-cards);
  grid-area: exp;
  position: absolute;
  width: 348px;
  height: 349px;
  left: 40px;
  top: 978px;
  border-radius: 10px;
}

.experiencias h3 {
  position: absolute;
  width: 141px;
  height: 26px;
  left: 20px;
  top: 15px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.experiencias ul {
  position: absolute;
  width: 175px;
  height: 243px;
  left: 30px;
  top: 50px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.educacao {
  background-color: var(--bg-cards);
  grid-area: edu;
  position: absolute;
  width: 348px;
  height: 352px;
  left: 40px;
  top: 1357px;
  bottom: 58px;
  border-radius: 10px;
}

.educacao h3 {
  position: absolute;
  width: 141px;
  height: 26px;
  left: 23px;
  top: 26px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.educacao ul {
  position: absolute;
  width: 175px;
  height: 246px;
  left: 30px;
  top: 70px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.rodape {
  width: 240px;
  height: 30px;
  position: absolute;
  left: 617px;
  top: 1700px;
}
.rodape h2 {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--bg-cards);
}
