:root {
  --body-bg-color: hsl(169, 19%, 17%);
  --text-color: #5a7e07;
  --bg-cards: #c4c8d8;
  --bg-techs: #7cb681;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");

body {
  background-color: var(--body-bg-color);
  margin: 2% 2%;
}

.main {
  display: grid;
  box-sizing: border-box;
  column-gap: 2%;
  row-gap: 4%;
  grid-template-columns: 20% 38% 38%;
  grid-template-rows: 2% 9% 1% 17% 10% 22%;
  grid-template-areas:
    "profile myprojects myprojects"
    "profile postGH-1 postGH-2"
    "contacts recentPost recentPost"
    "contacts post post"
    "tec . ."
    "exp . ."
    "edu . .";
}

.profile {
  background-color: var(--bg-cards);
  /*border: solid 2px var(--bg-cards);*/
  grid-area: profile;
  /*width: 20vw;
  height: 35vh;*/
  width: 310px;
  height: 235px;
  min-width: 195px;
  min-height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 4px rgb(72, 66, 102);
}

.profile h2 {
  margin-bottom: 5px;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

.profile p {
  margin: 1px;
  justify-content: center;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
}

.myprojects {
  background-color: var(--bg-cards);
  grid-area: myprojects;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 73vw;
  height: 9vh;*/
  width: 1165px;
  height: 53px;
  border-radius: 10px;
}

.myprojects p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

.contactos {
  background-color: var(--bg-cards);
  grid-area: contacts;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 20vw;
  height: 42vh;*/
  width: 310px;
  height: 340px;
  border-radius: 10px;
}

.post-1 {
  background-color: var(--bg-cards);
  grid-area: postGH-1;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 35vw;
  height: 21vh;*/
  width: 550px;
  height: 140px;
  border-radius: 10px;
}

.post-2 {
  background-color: var(--bg-cards);
  grid-area: postGH-2;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 35vw;
  height: 21vh;*/
  border-radius: 10px;
  width: 550px;
  height: 140px;
}

.recentPost {
  background-color: var(--bg-cards);
  grid-area: recentPost;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 73vw;
  height: 9vh;*/
  border-radius: 10px;
  width: 1165px;
  height: 50px;
}

.recentPost p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

.post {
  background-color: var(--bg-cards);
  grid-area: post;
  width: 1165px;
  height: 180px;
  border-radius: 10px;
  /*border: solid 2px var(--bg-cards);*/
}

.post img {
  width: 10vw;
  height: 18vh;
  border-radius: 15%;
}

.tecnologies {
  background-color: var(--bg-cards);
  grid-area: tec;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 20vw;
  height: 21vh;*/
  width: 310px;
  height: 170px;
  border-radius: 10px;
}

.tecnologies p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

.experiences {
  background-color: var(--bg-cards);
  grid-area: exp;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 20vw;
  height: 44vh;*/
  width: 310px;
  height: 340px;
  border-radius: 10px;
}

.experiences p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

.education {
  background-color: var(--bg-cards);
  grid-area: edu;
  /*border: solid 2px var(--bg-cards);*/
  /*width: 20vw;
  height: 44vh;*/
  width: 310px;
  height: 340px;
  border-radius: 10px;
}

.education p {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}
